<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTunesArtworkExplorer for Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E067C1041D55CE4A00AD531E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E067C1151D55CE4B00AD531E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E067C1201D55CE4B00AD531E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
